@font-face {
  font-family: Pretendard;
  src: url("/src/presentation/assets/fonts/PretendardVariable.woff2");
  font-display: swap;
}

.h1 {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
}

.h2 {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}

.h3 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
}

.p1 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.p2 {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
}

.b1 {
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 700;
}